

/* .App-header {
  text-align: center;
  background-color: lightslategray;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  font-family:"Gill Sans", sans-serif;
  color: grayscale;
} */

.motors{

  height: 175px;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  display:flex;
  align-items:space-between;
  justify-content:space-between;
  flex-wrap:wrap;
}

.motor-container {
    grid-area: bt;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

.active-bike{
  display: block;
}
.inactive-bike{
  display: none;
}

.mainhead {
  background-image: url("../public/E4BB752E-F98D-436D-AF7A-17DC821AE5A3.jpeg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100;
  color: white
}

.mainhead h2 {
 font-weight: bold;
 color: white;
}

.bikeInfoImage{
  height: 400px;
  max-height: 500px;
  width: 450px;
  max-width: 500px;
  display:flex;
  align-items:space-between;
  justify-content:space-between;
  flex-wrap:wrap;
}

.tripInfoImage{

  height: 400px;
  max-height: 500px;
  width: 450px;
  max-width: 500px;
  display:flex;
  align-items:space-between;
  justify-content:space-between;
  flex-wrap:wrap;
}

.trip-info{
  position:relative;

}

.divider {
  height: 15px;
  width: 100%;
  background-color: black;
}

/* .bikeInfo {
  height: 325px;
  width: 100%;
  background-color: white;
} */