

/* .App-header {
  text-align: center;
  background-color: lightslategray;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  font-family:"Gill Sans", sans-serif;
  color: grayscale;
} */

.motors{
  position:relative;
  width:150px;
  min-height: 150px;
  height:auto;
}

.motor-container {
    grid-area: bt;
    display: flex;
    justify-content: space-evenly;
  }

.active-bike{
  display: block;
}
.inactive-bike{
  display: none;
}

.mainhead {
  background-image: url("../public/E4BB752E-F98D-436D-AF7A-17DC821AE5A3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white
}

.mainhead h2 {
 font-weight: bold;
 color: white;
}

.bikeInfoImage{
  position:relative;
  width:500px;
  min-height: 350px;
  height:auto;
  float: left;
}

.tripInfoImage{
  position:relative;
  width: 616px;
  min-height: 422px;
  height:auto;
}

.trip-info{
  position: flex-center;

}