.App {
  text-align: center;
}

.App-header {
  background-color: lightslategray;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  font-family:"Gill Sans", sans-serif;
  color: grayscale;
}


.motors-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.motors > img{
  border-radius: 5px;
  max-height: 150px;
  max-width: 150px;
}

